<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Snackwerke</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/progressbar.js@1.1.0/dist/progressbar.min.js"></script>
    <script src="{{ asset('js/app.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
</head>

<body>
<img src="{{ asset('img/quellwerke-hintergrundbild.png') }}" alt="">
<div>
    <div id="mainText" data-station="{{ station.key }}">
        Bitte Chip scannen
    </div>
    <div id="nameText">
        <p>hello</p>
    </div>

    <div class="products">
        {% for product in station.products %}
        <div class="productCard" data-product="{{ product.key }}">
            <h2 class="productName">{{ product.name }}</h2>
            <img class="productIcon" src="{{ asset(product.icon?product.icon.path~product.icon.filename:"/Product Icons/missing.jpg") }}" alt="{{ product.name }}">
            <h3 class="productPrice">{{ product.price|number_format(2) ~ " €" }}</h3>
            <button class="submit_big">1 kaufen</button>
            <p>oder Anzahl wählen</p>
            <div>
                <button class="change_amount sub">-</button>
                <input disabled class="amount" type="number" value="0">
                <button class="change_amount add">+</button>
            </div>

        </div>
        {% endfor %}


    </div>

    <button class="collective_purchase" disabled><span class="collective_purchase_number">0</span> Produkte kaufen</button>

</div>
<div id="progressbar"></div>
</body>
</html>
