<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Einkauf erfolgreich</title>
</head>
<body>
{% if success %}
    <h1>Einkauf von {{ number }} Produkten im Wert von {{ total }}€ erfolgreich </h1>
    <p>Dein neuer Kontostand beträgt {{ user.money }} €</p>
    <a href="/station/{{ station }}">OK</a>
{% else %}
    <h1>Purchase Failed</h1>
    <p>please try again</p>
    <a href="/station/{{ station }}">OK</a>

{% endif %}

</body>
</html>

